<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>hi,guys</title>          
</head>
<body>
<{if $stat == false}>
<form action="?do=Auth.Logon" method="post">
<p>username: <input type="text" name="username"/></p>
<p>password: <input type="password" name="password"/></p>
<input type="submit" value="Submit" />
</form>
<{/if}>
</body>
</html>
