<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Sunshine Girl">
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>Player</title>
<link rel="shortcut icon" href="http://douban.fm/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="static/css/player_fm.css">
</head>
<body>

<div id="player-con">
	<!-- picture -->
	<div id="fm-picture">
		<img src="static/img/player_fm_miao.jpg" alt="picture"/>
	</div>

	<!-- control -->
	<div id="fm-control">
		<!-- pause -->
		<div id="fm-pause">
			<img src="static/img/player_fm_pause.bmp" alt="pause"/>
		</div>

		<!-- main -->
		<div id="fm-main">
			<!-- info -->
			<div id="fm-info">
				<span title="artist">范玮琪</span>
				<div id="fm-info-ap">
					<div id="fm-info-a">
						<i>&lt</i>
						<span title="albumtitle">Faces Of FanFan</span>
						<i>&gt</i>
					</div>
					<span title="publictime">2008</span>
				</div>
				<span title="title">最初的梦想</span>
			</div>

			<!-- progress -->
			<div id="fm-progress"></div>

			<div id="fm-status">
				<!-- volume -->
				<img src="static/img/player_fm_volumn.png" alt="volume"/>
				<!-- time -->
				<span>-0:30</span>
			</div>
			<div id="fm-blank"></div>

			<div id="fm-opera">
				<img src="static/img/player_fm_next.bmp"/>
				<img src="static/img/player_fm_like.png"/>
			</div>
		</div>
	</div>
</div>

</body>
</html>
