#player-con {
	width: 510px;
	height: 245px;
	background-color: #ffffff;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	border: 1px solid #8ecbb9;
}
#fm-picture {
	position: relative;
	float: left;
	width: 245px;
	height: 245px;
}
#fm-picture img {
	width: 100%;
	height: 100%;
}
#fm-picture a {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 245px;
	height: 245px;
	background-color: rgba(150,150,150,0.5);
	display: none;
}
#fm-control {
	position: relative;
	width: 265px;
	height: 245px;
	margin-left:245px;
}
#fm-play {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 265px;
	height: 245px;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 10;
	display: none;
}
.fm-play-fontmask {
	position: absolute;
	top: 110px;
	left: 100px;
	width: 65px;
	height: 20px;
}
#fm-play span {
	display: block;
	width: 65px;
	margin: 110px 0px 0px 100px;
	font: 13px/1.6 arial,helvetica,sans-serif;
}
#fm-pause {
	position: relative;
	width: 100%;
	height: 28px;
}
.fm-pause-img {
	float: right;
	width: 28px;
	height: 100%;
	margin-right: 12px;
	background: url(../img/player_fm_pause.png) no-repeat;
}
.fm-pause-hover {
	position: absolute;
	top: 0px;
	right: 12px;
	width: 28px;
	height:28px;
}
.fm-pause-hover:hover {
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
}
#fm-main {
	height: 190px;
	padding-left: 22px;
	padding-right: 22px;
}
#fm-info {
	position: relative;
	height: 85px;
	padding-left: 2px;
}
.fm-info-mask {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 85px;
	width: 100%;
}
#fm-info span {
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
#fm-info span[title=artist] {
	display: block;
	color: #333333;
	font-size: 23px;
	font-weight: 300;
	letter-spacing: 2px
}
.fm-info-ap {
	line-height: 15px;
	margin-top: 2px;
}
.fm-info-a {
	margin-top: 2px;
	padding-right: 5px;
	color: #323232;
	font-size: 12px;
}
.fm-info-a i {
	display:block;
	float: left;
	font-style: normal;
}
.fm-info-a i:nth-of-type(1) {
	padding-right: 5px;
}
.fm-info-a i:nth-of-type(2) {
	padding-left: 5px;
	padding-right: 5px;
}
.fm-info-a span[title=albumtitle] {
	display:block;
	float: left;
	max-width: 120px;
}
.fm-info-ap span[title=publictime] {
	display:block;
	color: #575757;
	font-size: 12px;
}
#fm-info span[title=title] {
	display:block;
	margin-top: 18px;
	color: #1d9c6e;
	font: 12px/1.6 arial,helvetica,sans-serif;
	letter-spacing: 1px
}
#fm-progress {
	position: relative;
	margin-top: 4px;
}
.fm-progress-default {
	border: 1px solid #e5e5e8;
}
.fm-progress-seekbar {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #e5e5e8;
	cursor: pointer;
}
.fm-progress-playbar {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 1px solid #8ecbb9;
	cursor: pointer;
}
#fm-status {
	position: relative;
	height: 17px;
	margin-top: 2px;
}
.fm-status-mask {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 55px;
	height: 100%;
	cursor: pointer;
}
.fm-status-volume {
	position: absolute;
	top: 7px;
	right: 5px;
	width: 50px;
	z-index: 1;
	display: none;
}
.fm-status-volume-position {
	width: 50px;
	position: relative;
}
.fm-status-volume-default {
	width: 100%;
	border: 2px solid #e5e5e8;
}
.fm-status-volume-value {
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid #323232;
}
.fm-status-volume-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border: 2px solid rgba(255, 255, 255, 0);
	cursor: pointer;
}
#fm-status span[title=currentime] {
	display: block;
	float: right;
	margin-right: 10px;
	font-size: 12px;
	color: #939892;
}
.fm-status-volume-img {
	float: right;
	margin-top: 4px;
	width: 10px;
	height: 10px;
	background: url(../img/player_fm_volume.png) no-repeat;
}
#fm-opera {
	margin-top: 55px;
	height: 25px;
}
.fm-opera-next {
	float: right;
	margin-top: 4px;
	width: 31px;
	height: 17px;
	cursor: pointer;
	background: url(../img/player_fm_next_normal.png) no-repeat;
}
.fm-opera-next:hover {
	background: url(../img/player_fm_next_hover.png) no-repeat;
}
.fm-opera-download {
	float: right;
	margin: 1px 30px 0 0;
	width: 21px;
	height: 23px;
	cursor: pointer;
	background: url(../img/player_fm_download_normal.png) no-repeat;
}
.fm-opera-download:hover {
	background: url(../img/player_fm_download_hover.png) no-repeat;
}
.fm-opera-repeat-default {
	float: right;
	margin-top: 3px;
	margin-right: 30px;
	width: 25px;
	height: 20px;
	cursor: pointer;
	background: url(../img/player_fm_repeat_normal.png) no-repeat;
}
.fm-opera-repeat-default:hover {
	background: url(../img/player_fm_repeat_hover.png) no-repeat;
}
.fm-opera-repeat-click {
	display: none;
	float: right;
	margin-top: 3px;
	margin-right: 30px;
	width: 25px;
	height: 20px;
	cursor: pointer;
	background: url(../img/player_fm_repeat_click.png) no-repeat;
}
