#player-con{
	width: 250px;
	height: 40px;
	padding:0 0 0 10px;
	margin:50px auto;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
	border-radius:3px;
	border:1px solid #ddd;
	box-shadow:1px 2px 3px #a7a7a7;
	position:relative;
	display:none;
}
#song-name{
	font-size:14px;
	color:#043d2e;
	width:220px;
	line-height:40px;
	float:left;
}
#play,#next{
	margin:10px 0;
	text-decoration:none;
	float:left;
	color:#134d73;
	line-height:20px;
	outline:none;
}
#next{
	height:20px;
	cursor:pointer;
	margin-left:5px;
}
.trangle-border{
	width:8px;
	border-top:10px solid #fff;
	border-left:10px solid #134d73;
	border-bottom:10px solid #fff;
}
.next-trg{
	height:0;
	width:0;
	display:block;
	float:left;
	border-top:10px solid #fff;
	border-left:10px solid #134d73;
	border-bottom:10px solid #fff;
}
.next-line{
	float:left;
	font-size:16px;
}
.jp-progress{
	position:absolute;
	top:0;
	left:1px;
	width:250px;
	height:2px;
	cursor:pointer;
}
.jp-play-bar{
	height:2px;
	background-color:#09c;
}
